# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.nar
*.ear
*.zip
*.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
*.swp

# Maven build directory
target/
.git-versioned.pom.xml

# Log files
*.log

# Intellij files
.idea/
*.iml
*.ipr
*.iws

# Eclipse files
.settings/
.loadpath
.project
.classpath
.factorypath
*.metadata
*.recommenders

# Docker image dump
*.dock
*.dockimg

# Mac files
.DS_Store

*.patch
*.log.gz
*.pdf
